<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.saulmm.material"
	>

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/MaterialExamplesTheme"
		>

		<activity
			android:name=".activities.MainActivity"
			android:theme="@style/MainActivityTheme"
			>
		</activity>

		<activity
			android:name=".activities.TransitionFirstActivity"
			android:theme="@style/TransitionSampleActivity"
			/>

		<activity
			android:name=".activities.TransitionSecondActivity"
			android:theme="@style/TransitionSampleSecondActivity"
			/>

		<activity
			android:name=".activities.DialerSampleActivity"
			android:screenOrientation="portrait"
			/>

		<activity
			android:name=".activities.ColorActivity"
			android:label="@string/title_activity_color"
			android:theme="@style/ColorActivityTheme"
			>

			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>

		</activity>

		<activity
			android:name=".activities.ColorActivity2"
			android:theme="@style/ColorActivityTheme2"
			/>

		<activity android:name=".activities.SlidingActivity"/>
		<activity android:name=".activities.CoordinatorActivity"/>
	</application>
</manifest>
